header , .interactive-map, .hero-cta, .room-section, .check-list-section {
    width: 100vw;


}
.interactive-map img {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: bottom;
}
.interactive-map {
    text-align: center;
}
.map-map-map {
    display: inline-block!important;
}
header.secondary {
    height: 300px;
    margin-top: -80px;
    overflow: hidden;
}
header img, .hero-cta img , .room-section img, .check-list-section img {
    width: 100vw;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: bottom;

}

.room-section img, .check-list-section img {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: -15px;
}

.hero-cta a {
    opacity: 1;
}
.hero-cta a:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

img {
    border: none;
    padding: 0;
    margin: 0;
}

body > nav {
    background: #e6e6e6 url('../images/bg-line-small.png') left top repeat-x;
    height: 80px;
    padding-left: 140px;
}
nav .logo-img {
    height: 72px;
}

nav ul  {
    display: block;
    width: 100%;
}
nav ul li {
    display: inline-block;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
}
nav ul li a {
    padding: 40px 20px;
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover  {
    color: #2b84d4;
}
nav ul li a.logo-link {
    padding: 0;
    z-index: 10;
    position: relative;
    margin-top: -6px;
}
body > nav a.active {
    padding-right: 0;
    color: #2b84d4;
    margin-top: -10px;
    text-shadow: #2b84d4 0px 0px 4px;
}
body > nav a.active:after{
    content: '';
    position: relative;
    left: -50%;
    bottom: -50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2b84d4;
    clear: both;
}

.interactive-map area {
    opacity: 0;
}
.interactive-map area:hover {
    background: red;
    opacity: 0.5;
}

body > nav a.active:after {
    content: ""
}
footer {
    background: #2985d8;

}
footer > .copyright-wrapper, foote> nav {
    float: left;
    text-align: center;
    width: 50vw;
}
footer nav ul li a, footer .copyright {

    padding:  40px 10px;
}
footer nav ul li a:hover {
    color: white;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}